Understanding the behaviour of python's print function

In [6]:
print("Hello", end="")
print("World")

HelloWorld

In [7]:
print("Hello", end=" ")
print("World")

Hello World

In [8]:
print("Hello")
print()      # same as new line '\n'
print("World")

Hello

World

Visualizing the matrix grid of two nested for loops for better context and understanding

In [9]:
for row in range(0, 10):
  for col in range(0,10):
    print([row, col], end="")
  print()

[0, 0][0, 1][0, 2][0, 3][0, 4][0, 5][0, 6][0, 7][0, 8][0, 9]
[1, 0][1, 1][1, 2][1, 3][1, 4][1, 5][1, 6][1, 7][1, 8][1, 9]
[2, 0][2, 1][2, 2][2, 3][2, 4][2, 5][2, 6][2, 7][2, 8][2, 9]
[3, 0][3, 1][3, 2][3, 3][3, 4][3, 5][3, 6][3, 7][3, 8][3, 9]
[4, 0][4, 1][4, 2][4, 3][4, 4][4, 5][4, 6][4, 7][4, 8][4, 9]
[5, 0][5, 1][5, 2][5, 3][5, 4][5, 5][5, 6][5, 7][5, 8][5, 9]
[6, 0][6, 1][6, 2][6, 3][6, 4][6, 5][6, 6][6, 7][6, 8][6, 9]
[7, 0][7, 1][7, 2][7, 3][7, 4][7, 5][7, 6][7, 7][7, 8][7, 9]
[8, 0][8, 1][8, 2][8, 3][8, 4][8, 5][8, 6][8, 7][8, 8][8, 9]
[9, 0][9, 1][9, 2][9, 3][9, 4][9, 5][9, 6][9, 7][9, 8][9, 9]

Developing logic based on the matrix rows, columns observation

In [10]:
for row in range(0, 5):
  for col in range(0,5):
    if row+col < 4:
      print(" ", end="")
    else:
      print(".", end="")
  print()

    .
   ..
  ...
 ....
.....

In [11]:
def pattern(n):
  for row in range(0, n):
    for col in range(0,n):
      if row+col < n-1:
        print(" ", end=" ")
      else:
        print(".", end=" ")
    print()
pattern(10)

                  .
                . .
              . . .
            . . . .
          . . . . .
        . . . . . .
      . . . . . . .
    . . . . . . . .
  . . . . . . . . .
. . . . . . . . . .

In [12]:
def pattern(n):
  for row in range(0, n):
    for col in range(0,n):
      if row+col > n-1:
        print(" ", end=" ")
      else:
        print(".", end=" ")
    print()
pattern(10)

. . . . . . . . . .
. . . . . . . . .
. . . . . . . .
. . . . . . .
. . . . . .
. . . . .
. . . .
. . .
. .
.

In [13]:
def pattern(n):
  for row in range(0, n):
    for col in range(0,n):
      if row>col:
        print(".", end=" ")
    print()
pattern(10)

.
. .
. . .
. . . .
. . . . .
. . . . . .
. . . . . . .
. . . . . . . .
. . . . . . . . .

In [14]:
def pattern(n):
  for row in range(0, n):
    for col in range(0,n):
      if row<col:
        print(".", end=" ")
    print()
pattern(10)

. . . . . . . . .
. . . . . . . .
. . . . . . .
. . . . . .
. . . . .
. . . .
. . .
. .
.

In [2]:
def pattern(n):
  for row in range(0, n):
    for col in range(0,n):
      if row+col < n-1:
        print(" ", end="")
      else:
        print(".", end=" ")
    print()
pattern(10)

         .
        . .
       . . .
      . . . .
     . . . . .
    . . . . . .
   . . . . . . .
  . . . . . . . .
 . . . . . . . . .
. . . . . . . . . .

In [4]:
def pattern(n):
  for row in range(0, n):
    for col in range(0,n):
      if col < row:
        print(" ", end="")
      else:
        print(".", end=" ")
    print()
pattern(10)

. . . . . . . . . .
 . . . . . . . . .
  . . . . . . . .
   . . . . . . .
    . . . . . .
     . . . . .
      . . . .
       . . .
        . .
         .

In [15]:
def pattern(n):
  for row in range(0, n):
    for col in range(0,n):
      if row+col < n-1:
        print(" ", end="")
      else:
        print(".", end=" ")
    print()
  for row in range(1, n):    # Start from row 1 to skip the extra print
    for col in range(0, n):
      if col < row:
        print(" ", end="")
      else:
        print(".", end=" ")
    print()
pattern(10)

         .
        . .
       . . .
      . . . .
     . . . . .
    . . . . . .
   . . . . . . .
  . . . . . . . .
 . . . . . . . . .
. . . . . . . . . .
 . . . . . . . . .
  . . . . . . . .
   . . . . . . .
    . . . . . .
     . . . . .
      . . . .
       . . .
        . .
         .